/* 修复高度塌陷和父子元素共用上外边距 */
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* 设置页面居中且指定宽度 */
.w{
    width: 1226px;
    margin: 0 auto;
}

/* 设置超链接样式 */
a{
    text-decoration: none;
}